.container > li {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
    box-sizing: border-box;
    background-color: #96ceb4;
    list-style-type: none;
}
  
html, body {
    background-color: #ffeead;
    margin: 10px;
}
  
.container {
    padding: 0;
}

.search-input {
    background: #ff6e68;
    border: 0;
    width: 100%;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ffeead;
    color: #ffeead;
}

::placeholder{
    color: #ffeead;
}

/* Desktopversion */
/* alle Elemente nebeneinander */
.container {
    border: 5px solid #ffcc5c;
    display: flex;
}
  
.search {
    flex: 1;
}
  
/* Tabletversion */
@media all and (max-width: 600px) {
    .container {
      flex-wrap: wrap;
    }
    /* zwei Elemente oben und zwei Elemente unten */
    .container > li {
      flex: 1 1 50%;
    }
    /* Suchfeldtext zentriert, vorher linksbündig */
    .search > input {
      text-align: center;
    }
}
/* Handyversion */
@media all and (max-width: 400px) {
    /* alle Elemente untereinander */
    .container > li {
      flex: 1 1 100%;
    }
    /* Suchfeld ganz unten */
    .search {
      order: 1;
    }
}