.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

html, body {
  background-color: #ffeead;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: #96ceb4;	
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
      background-color: #ff6f69;
}

.container > div:nth-child(4n) {
      background-color: #ffcc5c;
}

/*===== einfaches Grid =====*/
.container {
    display: grid;
    /* drei Spalten, wobei die mittlere Spalte responsive ist */
    grid-template-columns: 100px auto 100px;
    /* zwei Zeilen */
    grid-template-rows: 50px 50px;
    grid-gap: 3px;
}


/*===== gleichmäßig responsive Zellen mit fr (fraction) =====*/
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
    grid-gap: 3px;
}

/* oder */
.container {
    display: grid;
    /* grid-template: row / columns; */
    grid-template: repeat(2, 50px) / repeat(3, 1fr);
    grid-gap: 3px;
}